* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    line-height: 160%;
    color: white;
}

:root {
    font-size: 62.5%;
}

body {

}

h1 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 125%;
}

/*index style*/

header {
    padding: 4rem 7rem;
    position: fixed;
}

header div {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

header div nav {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

header div nav a {
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    opacity: 0.7;

    transition: all 0.2s;
}

header div nav a:hover {
    transform: scale(1.1);
}

header nav .active {
    opacity: 1;
}

/*home style*/

#home {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    gap: 2.4rem;

    background-image: url(./images/mountains-universe-1.png);
    background-position: center;
    background-size: cover;
}

#home div {
    margin-inline: auto;
}

#home div button {
    padding: 1.2rem 3.2rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;

    transition: all 0.2s;
}

#home div button:hover {
    cursor: pointer;

    background-color: white;
    color: #02799D;
}

/*o universo style*/

#ouniverso {
    width: 100vw;
    height: 100vh;

    background-image: url(./images/mountains-universe-2.png);
    background-size: cover;
    background-position: center;
}

#ouniverso div {
    padding-top: 18.5rem;
    padding-left: 10.0rem;
    max-width: 70.0rem;
    
    text-align: justify;
}

#ouniverso p {
    margin-top: 1.6rem;
    opacity: 0.8;
}


/*exploracao style*/

#exploracao {
    width: 100vw;
    height: 100vh;

    background-image: url(./images/mountains-universe-3.png);
    background-size: cover;
    background-position: center;
}

#exploracao div {
    padding-top: 18.5rem;
    padding-left: 10.0rem;
    max-width: 70.0rem;
    
    text-align: justify;
}

#exploracao p {
    margin-top: 1.6rem;
    opacity: 0.8;
}

/*error style*/

#error {
    width: 100vw;
    height: 100vh;

    background-image: url(./images/mountains-universe-1.png);
    background-size: cover;
    background-position: center;
}

#error div {
    padding-top: 185px;
    padding-left: 185px;
    max-width: 700px;
    
    text-align: justify;
}

#error p {
    margin-top: 1.6rem;
    opacity: 0.8;
}